* {
    margin: 0;
    padding: 0;
}

.App {
    width: 98%;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: 20px;
}

.boy {
    background-color: #8BCDCD;
    border-radius: 50px;
}

.girl {
    background-color: #f1c5c5;
    border-radius: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}

.ml2 {
    margin-left: 10px;
}

.card {
    margin-left: 3px;
    margin-bottom: 3px;
}

.footer {
    border-top: 1px solid black;
    padding: 5px;
    margin-top: 20px;
}

.sex {
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;

}

.btn {
    margin-left: 10px;
    margin-top: 10px;
}

.mb2 {
    margin-bottom: 10px;
}

.nav {
    display: flex;
    list-style: none;

}

.nav li {
    border: 1px solid;
    padding: 5px;
    margin: 5px;
}

.nav li a {
    text-decoration: none;
}
.favorite {
    margin-left: 3px;
}
.favorite:hover {
    background-color: red;
    color: red
}
